/********************* input  *********************/
input {outline: none; color:#000; border:none;}
[class*="input-"] {
    border-radius: 4px;
    padding: 4px 12px;
    border: 1px solid #ccc;
}
.input-sm {}
.input-md {
    width: 400px;
    height: 32px;
}
.input-lg {}
/********************* button  *********************/
button {outline: none; border:none; background: none; cursor: pointer;}
.btn-sm {}
.btn-md {
    padding: 4px 10px;
    border: 1px solid transparent;
    font-size: 18px;
}
.btn-lg {}
.btn-primary {
    background-color: #d62727;
    color:#fff;
}
.btn-wrap {
    display: flex;
    align-items: center;
}
/********************* font *********************/
.tit-24 {
    color:#000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
}
.tit-28 {
    color:#000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
}
.txt-16 {font-size: 16px;}
.txt-24 {font-size: 24px;}

/********************* gap & margin & padding *********************/
.dashboard-item + .dashboard-item {
    margin-top: 40px;
}