*{padding: 0; margin: 0; box-sizing: border-box;}
ul,ol,li {list-style: none;}
a{text-decoration: none; color:#000;}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 20px;
}
header {
    border-bottom: 1px solid #edeff2;
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
.gnb {
    display:flex;
}
.stock-search {
    display: flex;
    align-items: center;
    gap: 80px;
}
.search-list {
    cursor: pointer;
}
